<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SvrUsuarios</servlet-name>
        <servlet-class>Servlet.SvrUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogin</servlet-name>
        <servlet-class>Controlador.SvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvAgregarProductos</servlet-name>
        <servlet-class>Controlador.SvAgregarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvEliminarUsuario</servlet-name>
        <servlet-class>Controlador.SvEliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvEliminarProductos</servlet-name>
        <servlet-class>Controlador.SvEliminarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvContacto</servlet-name>
        <servlet-class>Controlador.SvContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvEliminarMensaje</servlet-name>
        <servlet-class>Controlador.SvEliminarMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvActualizarProducto</servlet-name>
        <servlet-class>Controlador.SvActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvAgregarCarrito</servlet-name>
        <servlet-class>Controlador.SvAgregarCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvrUsuarios</servlet-name>
        <url-pattern>/SvrUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogin</servlet-name>
        <url-pattern>/SvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvAgregarProductos</servlet-name>
        <url-pattern>/SvAgregarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvEliminarUsuario</servlet-name>
        <url-pattern>/SvEliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvEliminarProductos</servlet-name>
        <url-pattern>/SvEliminarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvContacto</servlet-name>
        <url-pattern>/SvContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvEliminarMensaje</servlet-name>
        <url-pattern>/SvEliminarMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvActualizarProducto</servlet-name>
        <url-pattern>/SvActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvAgregarCarrito</servlet-name>
        <url-pattern>/SvAgregarCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
